#header {
    width: 100vw;
    height: 15vh;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-image: url('../public/头部导航栏背景.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

#headerUl1 {
    display: inline-flex;
    list-style: none;
    display: flex;
    font-size: 0.8vw;
    
}

#headerUl1 > li {
    padding-left: 0.7vw;
    color: rgb(255, 255, 255);
    margin-left: 0.7vw;
}

#s13 {
    height: 4.5vh;
}

#logo{
    position: absolute;
    bottom: 0vh;
    left: 1vw;
    height: 10vh;
    width: auto;
}

#searchbox {
    height: 4.8vh;
    width: 25vw;
    border-radius: 1vw;
    background-color: hsla(0, 0%, 100%, 0.8);
    font-size: 0.8vw;
}

#headerUl2 {
    display: flex;
    position: absolute;
    right: 3vw;
    list-style: none;
    font-size: 0.8vw;
}

#headerUl2 > li {
    padding-left: 2vw;
    color: antiquewhite;
}

#contribute {
    width: 7vw;
    height: 4vh;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 137, 216);
    font-size: 1vw;
    margin-left: 2vw;
    border-radius: 1vw;
}

#midium {
    position: absolute;
    top: 20vh;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 13vh;
}

#classfication {
    position: absolute;
    left: 10vw;
}

#classfication2 {
    position: absolute;
    right: 4.7vw;
    width: 14.7vw;
    height: 13vh;
}

.classButton {
    margin: 0.8vh;
    width: 5.4vw;
    height: 4vh;
    border-radius: 0.7vw;
    background-color: hsla(0, 0%, 0%, 0.052);
    border-color: transparent;
    font-size: 0.8vw;
}

.classButton2 {
    margin: 0.8vh;
    width: 4vw;
    height: 4vh;
    border-radius: 0.7vw;
    background-color: hsla(0, 0%, 0%, 0.052);
    border-color: transparent;
    font-size: 0.8vw;
}

#mainBody {
    position: absolute;
    top: 36vh;
    left: 0vw;
    width: 100vw;
    float: right;
}

#pictrues {
    position: relative;
    background-color: rgba(0, 0, 0, 0.081);
    width: 36.3vw;
    border-radius: 1.96vw;
    height: 51.5vh;
    border-radius: 1.04vw;
    margin-left: 2vw;
    margin-top: 1vh;
    
    float: left;
}

#carousel {
    width: 100%;
    border-radius: 1.04vw;
}

#previous {
    width: 1.04vw;
    height: 4.1vh;
    border-radius: 1.04vw;
    background-color: #00000097;
    position: absolute;
    left: 0.25vw;
    top: 50%;
}

#next {
    width: 1.04vw;
    height: 4.1vh;
    border-radius: 1.04vw;
    background-color: #00000096;
    position: absolute;
    right: 0.25vw;
    top: 50%;
}

#dots {
    position: absolute;
    bottom: 1.2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
}

.dot {
    margin: 0.5vh;
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    background-color: #00000037;
}

.dotHover{
    margin: 0.5vh;
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    background-color: #00000096;
}
.dotChosen {
    width: 3vw;
    height: 3vw;
    border-radius: 1.5vw;
    background-color: #000000b5;
}

.videoCard {
    margin-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 4vh;
    width: 17.15vw;
    height: 27vh;
    border-radius: 1.04vw;
    float: left;
    position: relative;
    background-color: white;
    

}

#theVideo{
    position: absolute;
    height: 20vh;
    width: 17.15vw;
    top: 0;
    border-radius: 1.04vw;
}
.videoCover {
    width: 100%;
    width: 17.15vw;
    height: 20vh;
    border-radius: 1.56vw;
    position: relative;
    z-index: 1;
}
.videoCoverChange{
    z-index: -2;
    position: relative;
}

.detail{
    position:absolute;
    bottom: 7.2vh;
    left: 0vw;
    width: 17.15vw;
    border-bottom-left-radius:1.04vw ;
    border-bottom-right-radius: 1.04vw; 
    z-index: 1;
    color: aliceblue;
    background-image: linear-gradient(to top,black,transparent);

}

.introduction {
    margin: 0vw;
    font-size: 0.8vw;
    height: 4.5vh;
}

.upper {
    margin: 0;
    font-size: 0.8vw;
    color: gray;
}

.tag {
    margin: 0vw;
    border-radius: 20%;
    border: 0.08vw;
    background-color: blanchedalmond;
    color: rgb(255, 157, 76);
    font-size: 0.8vw;
    
}

.time {
    margin: 0vw;
    margin-left: 1vw;
    font-size: 0.8vw;
    color: gray;
}

.words {
    display: flex;
    flex-direction: row;
}

.hover {
    position: absolute;
}

#home1 {
    top: 4vh;
    left: 1.47vw;
    width: 4.9vw;
    height: 4.1vh;
    border-radius: 2.08vw;
    background-color: pink;
    display: none;
}

#fanju1 {
    top: 4vh;
    left: 4.42vw;
    width: 4.9vw;
    height: 4.1vh;
    border-radius: 2.08vw;
    background-color: pink;
    display: none;
}

#live1 {
    top: 4vh;
    left: 7.39vw;
    width: 4.9vw;
    height: 4.1vh;
    border-radius: 2.08vw;
    background-color: pink;
    display: none;
}

#gameCenter1 {
    display: flex;
    top: 5vh;
    left: 7.84vw;
    width: 14.7vw;
    height: 15vh;
    border-radius: 2.08vw;
    background-color: pink;
    display: none;
}

#gameCenterImg{
    width:7vw;
}

#shop1 {
    top: 5vh;
    left: 14.7vw;
    width: 4.9vw;
    height: 4.1vh;
    border-radius: 2.08vw;
    background-color: pink;
    display: none;
}


#comic1 {
        top: 5vh;
        left: 18.56vw;
        width: 4.9vw;
        height: 4.1vh;
        border-radius: 2.08vw;
        background-color: pink;
        display: none;
    }
    
    #games1 {
        top: 5vh;
        left: 20.54vw;
        width: 4.9vw;
        height: 4.1vh;
        border-radius: 2.08vw;
        background-color: pink;
        display: none;
    }
    
    #download1 {
        top: 5vh;
        left: 21.9vw;
        width: 19.6vw;
        height: 20.2vh;
        border-radius: 3.12vw;
        background-color: pink;
        display: none;
    }
    
    #peDownload {
        width: 9.8vw;
        height: 20.2vh;
        display: flex;
        flex-direction: column;
    }
    
    #pcDownload {
        width: 9.8vw;
        height: 20.2vh;
        position: absolute;
        left: 50%;
        top: 0;
    }
    